<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/style.css">

</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="sobre">Sobre</a>
    </nav>

    <h1>Pagina inicio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates architecto illo aperiam reprehenderit? Autem, quod aut harum, natus esse consequatur vitae, ut eveniet ad qui magni amet at earum omnis?</p>
</body>
</html>
