<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/public/css/sobre.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="sobre">Sobre</a>
    </nav>
    <h1>Sobre</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint, magni aperiam a enim voluptas, distinctio, quae illum perferendis veritatis neque amet! Sequi, hic laborum temporibus dolor ducimus harum qua!</p>
</body>
</html>
